USE [master]
GO
/****** Object:  Database [DataEntrySampleProj]    Script Date: 3/17/2025 8:16:35 PM ******/
CREATE DATABASE [DataEntrySampleProj]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataEntrySampleProj', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DataEntrySampleProj.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataEntrySampleProj_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DataEntrySampleProj_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataEntrySampleProj].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataEntrySampleProj]
GO
/****** Object:  Table [dbo].[DataEntries]    Script Date: 3/17/2025 8:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [nvarchar](250) NULL,
	[SubmittedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TrackingNumbers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrackingNumbers]    Script Date: 3/17/2025 8:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrackingNumbers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TNumber] [nvarchar](250) NULL,
 CONSTRAINT [PK_TrackingNumber2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataEntries] ON 

INSERT [dbo].[DataEntries] ([Id], [Number], [SubmittedAt]) VALUES (1, N'FT12340', CAST(N'2025-03-17T20:14:17.9521845' AS DateTime2))
INSERT [dbo].[DataEntries] ([Id], [Number], [SubmittedAt]) VALUES (2, N'FT12340', CAST(N'2025-03-17T20:14:27.7059012' AS DateTime2))
INSERT [dbo].[DataEntries] ([Id], [Number], [SubmittedAt]) VALUES (3, N'FT12341', CAST(N'2025-03-17T20:14:45.3643470' AS DateTime2))
SET IDENTITY_INSERT [dbo].[DataEntries] OFF
GO
SET IDENTITY_INSERT [dbo].[TrackingNumbers] ON 

INSERT [dbo].[TrackingNumbers] ([Id], [TNumber]) VALUES (1, N'FT12340')
INSERT [dbo].[TrackingNumbers] ([Id], [TNumber]) VALUES (2, N'FT12341')
INSERT [dbo].[TrackingNumbers] ([Id], [TNumber]) VALUES (3, N'FT12342')
SET IDENTITY_INSERT [dbo].[TrackingNumbers] OFF
GO
USE [master]
GO
